@font-face {
  font-family: 'iconfont';
  src: url('icon/iconfont.eot');
  src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('icon/iconfont.woff') format('woff'),
  url('icon/iconfont.ttf') format('truetype'),
  url('icon/iconfont.svg#iconfont') format('svg');
}
*{
    font-family: "微软雅黑";
}
body{
    background:#fff;
}
 /************ 导航按钮开始 ************* */
.xjn-navbox{
    width: 7.5rem;
    height:auto;
    background: #F5F6FA;
    padding: 0 0.2rem;
    padding-top: 0.28rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.xjn-navbox .xjn-navlist{
    width:1.55rem;
    height:2.24rem;
}
.xjn-nav{
    display:block;
    width:1.55rem;
    height:1.55rem;
    background:#fff;
    border-radius:0.2rem;
    box-shadow: 0 0 20px #eee;
    position:relative;
}
.xjn-nav img{
    width:55%;
    height:auto;
    position:absolute;
    top: 0;left: 0;
    right: 0;bottom: 0;
    margin:auto;
}
.xjn-nav-special img{
    width:48%;
}
.xjn-text{
    font-size:0.24rem;
    color: #000;
    text-align: center;
    padding-top: 0.15rem;
}/************ 导航按钮结束 ************* */

/************** 服务体系开始 ************/
.xjn-service{
    width:100%;
    height:auto;
}
.xjn-service .xjn-sertit{
    width:100%;
    height:0.64rem;
    border-bottom: 1px solid #E8E8E8;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.64rem;
    color:#1378ba;
}
/*服务体系ul*/
.xjn-ser-item{
    width:100%;
    height:auto;
}
.xjn-ser-item:after{
    content:'';
    display:block;
    clear: both;
}
.xjn-ser-item a{
    display:block;
    float: left;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding-left: 0.2rem;
    padding-top: 0.4rem;
}
/*item1*/
.xjn-ser-item  .xjn-item1{
    width:50%;
    height:2.18rem;
    padding-bottom: 0.48rem;
    box-sizing: border-box;
}
.xjn-ser-item  a:nth-child(2){
    border-right: 0;
}
.xjn-ser-item  a:nth-child(5){
    border-right: 0;
}
.xjn-item1 .xjn-item-left{
    width:1.84rem;
    height:100%;
    float:left;
}
 .xjn-item1 .xjn-item-left h3{
    font-size:0.24rem;
    color:#000;
    margin-bottom: 0.15rem;
}
.xjn-item1 .xjn-item-left p{
    font-size: 0.18rem;
    color:#999;
}
.xjn-item1 .xjn-item-right{
    width:auto;
    height:100%;
    overflow: hidden;
}
.xjn-item1 .xjn-item-right img{
    height:100%;
    width:auto;
}
/*item2*/
.xjn-ser-item  .xjn-item2{
    width:33.33%;
    height:1.39rem; 
}

.xjn-item2 .xjn-item-right{
    width:0.8rem;
    height:0.62rem;
    float:left;
    overflow:hidden;
}
.xjn-item2 .xjn-item-right img{
    height:100%;
    width:auto;
}
.xjn-item2 .xjn-item-left{
    width:auto;
    height:100%;   
    overflow: hidden;
}
 .xjn-item2 .xjn-item-left h3{
    font-size:0.24rem;
    color:#000;
    margin-bottom: 0.12rem;
}
.xjn-item2 .xjn-item-left p{
    font-size: 0.18rem;
    color:#999;
}
/************** 服务体系结束 ************/
/************* 底部导航开始 ************/
.xjn-footnav{
    width:100%;
    height:1.02rem;
    background:#F5F6FA;
    box-sizing: border-box;
    padding: 0.22rem 0.2rem 0;
    margin-bottom: 0.4rem;
} 
.xjn-foot-navlist{
    width:33.33%;
    height:100%;
    float:left;
    display:block;
    border-radius: 0.12rem;
    text-align: center;
    line-height:0.8rem;
    font-size: 0.24rem;
    color:#000;
}
.xjn-active{
    color:#fff;
    background:#FF7E00;
    font-weight: bold;
    box-shadow: 0 0 22px #FF951A;
}
.xjn-foot-navlist .icon{
    font-style: normal;
    font-family: "iconfont";
    color:#666;
    font-size: 0.36rem;
    position:relative;
    top:0.03rem;
    margin-right: 0.10rem;
}
.xjn-active .icon{
    color:#fff;
}