/* 
* @Author: Marte
* @Date:   2016-12-26 13:50:31
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-26 14:34:36
*/
*{
    font-family: "微软雅黑";
}
.xmm-gxxy-title{
    width:7.5rem;
    height:0.8rem;
    padding:0 0.25rem;
    line-height: 0.8rem;
}
.xmm-gxxy-title a{
    color:#494747
}
.xmm-details{
    width:100%;
    height:auto;
    padding:0.2rem;
}
.xmm-details h2{
    position:relative;
    font-size:0.24rem;
    font-weight: bold;
    height:0.3rem;
    width:5rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-indent: 0.3rem;
    line-height:0.3rem;
    padding-left:0.2rem;
    color:#444;
    border-bottom:1px dashed #999
}
.xmm-details h2 img{
    position:absolute;
   top:0.05rem;
   left:0.2rem
}