/* 
* @Author: Marte
* @Date:   2016-12-26 11:17:02
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-26 13:47:04
*/
*{
    font-family: "微软雅黑";
}
.xmm-gxxy-title{
    width:7.5rem;
    height:0.8rem;
    padding:0 0.25rem;
    line-height: 0.8rem;
}
.xmm-gxxy-title a{
    color:#494747
}
.xmm-stu-list{
    width:7rem;
    height:auto;
    padding:0 0.25rem;
}
.xmm-gxxy-stu{
    width:6.6rem;
    height:1.45rem;
    display:block;
    padding:0.2rem;
}
.xmm-gxxy-stu img{
    width:1.95rem;
    height:1.45rem;
    background:#c8c8c8;
    display:block;
    float:left
}
.xmm-gxxy-stu-right{
    padding:.15rem 0.3rem;
    width:4rem;
    height:auto;
    float:left;
}
.xmm-gxxy-stu-right p{
    width:100%;
    height:0.3rem;
    line-height:0.3rem
}
.xmm-stu-name{
    font-size:0.28rem
}
.xmm-stu-name span{
    font-size:0.14rem
}
.xmm-stu-wage{
    font-size:0.26rem;
    color:#94d43b
}
.xmm-stu-wage span{
    font-size:0.22rem
}
.xmm-stu-com{
    font-size:0.24rem
}
